<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <%- include("./partials/scripts") %>
    <title>Home Page</title>
</head>
<body>
    <%- include("./partials/nav") %>
    
</body>
</html>